{% extends 'base.html.twig' %}

{% block title %}Liste des utilisateurs{% endblock %}

{% block body %}
    <h2>Liste des utilisateurs</h2>

    <table class="table">
        <thead>
            <tr>
            <th>Id</th>
            <th>Email</th>
            <th>Prénom</th>
            <th>Nom</th>
            <th>Téléphone</th>
            <th>Type</th>
            <th>Statut</th>
            <th>Sexe</th>
            <th>Employé</th>
            <th>Supérieur</th>
            <th>Permissions</th>
            <th>Dernière Connexion</th>
            <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
            <td>{{ user.id }}</td>
            <td>
                <a href="{{ path('app_user_show', {'id': user.id}) }}">{{ user.email }}</a>
                {% if 'ROLE_ADMIN' in user.roles %}
                    <i class="fas fa-star" style="color:#d1b000;"></i>
                {% endif %}
            </td>
            <td>{{ user.firstName|capitalize }}</td>
            <td>{{ user.name|capitalize }}</td>
            <td>{{ user.phone }}</td>
            <td>{{ user.type }}</td>
            <td><span class="badge text-bg-{{ user.status == 0  ? 'danger' : 'success'}}"> {{ user.status == 0  ? 'Désactivé' : 'Activé'}}</span></td>
            <td>{{ user.sex == 0 ? 'H' : 'F' }}</td>
            <td>{{ user.employee ? 'Oui' : 'Non' }}</td>
            <td>
                {% if user.responsible %}
                    <a href="{{ path('app_user_show', {'id': user.responsible.id}) }}">{{ user.responsible.firstName|capitalize ~ " " ~ user.responsible.name|capitalize }}</a>
                {% endif %}
            </td>
            <td>{{ (user.permissions|split(";"))|length }}</td>
            <td>{{ user.lastConnection ? user.lastConnection|date('d/m/Y H:i:s') : 'N/A' }}</td>
            <td>
            </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
